<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Source+Code+Pro&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> body{background-image: inherit; color:white;}</style>
</head>
<body>
    <div class="footerwidth">
    <div class="footerleft">
        <img class="headlogo" src="../img/logo.png" alt="Logo">
        <h3 class="title">FoxToolz</h3>
       
        <h6 >An amazing suite of online tools to use from your browser. When it comes to basic photo edits, text over images, color pickers, memes and more, FoxToolz has got you covered!</h6>
        <h6>&copy 2021 FoxToolz LLC</h6>
        <h6 style="line-height: 0px; margin:0">Made with 💙 from Canada</h6>
    </div>
    <div class="footersection">
        <h6 class="footertitle">NAVIGATION</h6>
        <a href="../index.html" target="_parent"><h6 class="footlink" >Home</h6></a>
        <a href="../tools.html" target="_parent"><h6 class="footlink" >Tools</h6></a>
        <a href="../blog.html" target="_parent"><h6 class="footlink" >Blog</h6></a>
    </div>
    <div class="footersection">
        <h6 class="footertitle">POPULAR TOOLS</h6>
        <a href="" target="_parent"><h6 class="footlink" >Link 1</h6></a>
        <a href="" target="_parent"><h6 class="footlink" >Link 1</h6></a>
        <a href="" target="_parent"><h6 class="footlink" >Link 1</h6></a>
        <a href="" target="_parent"><h6 class="footlink" >Link 1</h6></a>
    </div>
    <div class="footersection">
        <h6 class="footertitle">ABOUT</h6>
        <a href="../about.html" target="_parent"><h6 class="footlink" >About Foxtoolz</h6></a>
        <a href="../about/contact.html" target="_parent"><h6 class="footlink" >Contact</h6></a>
        <a href="" target="_parent"><h6 class="footlink" >FAQ</h6></a>
        <a href="" target="_parent"><h6 class="footlink" >Privacy Policy</h6></a>
        <a href="../about/donate.html" target="_parent"><h6 class="footlink" >Donate</h6></a>
    </div>
    <div class="footerright">
        <h6 class="footertitle">FOLLOW US</h6>
    </div> 
    </div> 
</body>
</html>

